aiofiles==0.8.0
aiosqlite==0.17.0
alembic==1.8.0
anyio==3.6.1
asgi-lifespan==1.0.1
asgiref==3.5.2
asyncpg==0.25.0
azure-core==1.24.1
azure-storage-blob==12.12.0
boto3==1.24.2
botocore==1.27.2
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.1.0
commonmark==0.9.1
coolname==1.1.0
croniter==1.3.5
cryptography==37.0.2
dask==2022.5.2
distributed==2022.5.2
docker==5.0.3
fastapi==0.78.0
fsspec==2022.5.0
google-api-core==2.8.1
google-auth==2.6.6
google-cloud-core==2.3.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
greenlet==1.1.2
h11==0.12.0
HeapDict==1.0.1
httpcore==0.15.0
httpx==0.23.0
idna==3.3
isodate==0.6.1
Jinja2==3.1.2
jmespath==1.0.0
kubernetes==23.6.0
locket==1.0.0
Mako==1.2.0
MarkupSafe==2.1.1
msgpack==1.0.4
msrest==0.6.21
oauthlib==3.2.0
packaging==21.3
partd==1.2.0
pendulum==2.1.2
-e ./prefect
protobuf==3.20.1
psutil==5.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.1
Pygments==2.12.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-slugify==6.1.2
pytz==2022.1
pytzdata==2020.1
PyYAML==6.0
readchar==3.0.5
requests==2.27.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.4.4
rsa==4.8
s3transfer==0.6.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.37
starlette==0.19.1
tblib==1.7.0
text-unidecode==1.3
toml==0.10.2
toolz==0.11.2
tornado==6.1
typer==0.4.1
typing_extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
websocket-client==1.3.2
zict==2.2.0